# Node modules
node_modules/
npm-debug.log
yarn-error.log
uploads/
## Logs
#logs/
#*.log
#debug.log
#error.log

# Environment variables
.env
.env.local
.env.*.local

# Build files
dist/
build/
node_modules/


# IDE & Editor settings
.vscode/
.idea/
*.swp
*.swo
.DS_Store
package-lock.json
logs/

